.container-big-card {
  width: 550px;
  height: 600px;
  margin: 0 1.5rem 1rem 1rem;
}

.big-card-img > img {
  width: 100%;
  height: 18rem;
}

.big-card-title, .big-card-description {
  margin: .7rem .5rem;
}

.big-card-description > a > p {
  color: rgb(165, 164, 164);
}
