<header>
  <nav>
    <app-menu-bar></app-menu-bar>
  </nav>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles-main">
    <app-big-card
      cardImg="../../../assets/imgs/Placeholder-img.png"
      cardTitle="Vivamus porta posuere lacinia!"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Vivamus fringilla tempor laoreet. Phasellus id purus quis dolor
                      dapibus pretium vitae sit amet nibh. In et justo a lacus aliquam varius.
                      Proin suscipit a orci vel rutrum. Nam faucibus orci et ex commodo, et
                      tempus lectus semper. Fusce mollis lacus id imperdiet commodo."
    >
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    cardImg="../../../assets/imgs/Placeholder-img.png"
    cardDate="November 04, 2022"
    cardTitle="Vivamus porta posuere lacinia!"
    >
    </app-small-card>

    <app-small-card
    cardImg="../../../assets/imgs/Placeholder-img.png"
    cardDate="November 03, 2022"
    cardTitle="Vivamus porta posuere lacinia!"
    >
    </app-small-card>

    <app-small-card
    cardImg="../../../assets/imgs/Placeholder-img.png"
    cardDate="November 02 , 2022"
    cardTitle="Vivamus porta posuere lacinia!"
    >
    </app-small-card>
  </div>
</div>

